db:
    image: mongo
    ports:
        - 27017
web:
    build: .
    command: node ./server.js
    volumes:
        - ./api:/src/api
        - ./server.js:/src/server.js
    ports:
        - 3000:3000
    links:
        - db
    environment:
        PORT: 3000
        MONGO_URL:
        API_KEY:
